{% include 'head.html' %}
<style>
    body
    {
        margin-top: 30px;
        background-color: wheat;
    }
    .card-header
    {
        text-align: center;
        background-color: wheat;
    }
    .card-body{
    box-shadow: 0 0 30px 0 black; 
    }
    .item:hover p, input:hover::placeholder {
      color: #cc0052;
      }
      input:hover{
        box-shadow: 0 0 10px 0 #cc0052;
      }
      select:hover{
        box-shadow: 0 0 10px 0 #cc0052;    
      }
    .item input:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #cc0052;
      color: #cc0052;
      }
      .button {
        
      width: 20%;
      border: none;
      border-radius: 5px; 
      background: #cc0052;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      margin-left: 40%;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      align-items: center;
      }
      .button:hover {
      background: #ff0066;
      color:white;
      font-weight: bolder;
      }
</style>
<body class="g-sidenav-show">

    {% include 'nav.html' %}

    <div class="main-content" id="panel">
        <div class="container-fluid pt-3">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 class="mb-0">Upload CSV</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Enter Faculty Name</label>
                                        <input type="text" name="username" id="input-username" class="form-control"
                                            placeholder="username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">file</label>
                                        <input type="file" name="file" id="input-username" class="form-control"
                                            placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="btn-block">
                                    <button type="submit" class="form-control button" placeholder="Submit">Submit</button>
                                  </div>
                    </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    '{% if alert_msg %}'
        alert("{{ alert_msg }}");
    '{% endif %}'

</script>